.vertically-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.center-align-text {
  text-align: center;
}

.top-buffer {
  margin-top: 3%;
}

.top-buffer-1 {
  margin-top: 1%;
}

.bulletlessList {
  list-style-type: none;
}

.stock_history {
  background-color: #178f1f;
}

.stock_price {
  background-color: #c43535;
}

.stock_fundamentals {
  background-color: #696969;
}

#screen {
  min-height: 100%;
  min-height: 100vh;
}
